
$padding: 15px;
$border: 10px;


html,body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header{

    img{
    height: 4em;
    width: 4em;
    margin-top:1.2em ;
    margin-left: .7em;    
}
button{
   position: relative;
   bottom: .9em;
   left: 3.3em;
   padding: $padding ;
   border-radius: $border ;
   background-color: black;
   color: white;
   width: 7em;
   font-size: 1.5em;
   font-weight: bold;
   box-shadow: 0 10px 30px rgba(0,0,0,.2);
}
}

main{


#content{
    text-align: center;

    h1{
        font-size: 5em;
        margin-top: .7em;
        text-decoration: none;
        font-weight: bolder;
        line-height: .9em;
        
        span{
            color: rgb(72, 0, 240);
        }
    }

    p{
        font-size: 1.5em;
        text-decoration: none;
        display: block;
        color: rgb(61, 58, 58);

    }

    button{
   padding: $padding ;
   border-radius: $border ;
   background-color: black;
   color: white;
   font-size: 1.2em;
   font-weight: bolder;
   height: 3em;
   width: 12em;
   box-shadow: 0 10px 30px rgba(0,0,0,.2);
   margin-bottom: 1em;
    }
}


}



